.welcome-text-horizontal {
    border-right: 2px solid #dbb259;
}
.bucks-remaining {
    font-size: 34px;
    float: right;
    margin-right: 50px;
}
.total-invested {
    font-size: 30px;
    color: #00adef;
    margin-left: 5px;
    font-weight: bold;
    clear: both;
}
.progress {
    background-color: #b7b7b7;
}
.progress.invest-values {
    background-color: transparent;
    margin-top: 5px;
    font-weight: bold;
}
.invest-values .balance-value {
    color: #b7b7b7;
    text-align: center;
}
.project-color {
    display: inline-block;
    height: 14px;
    width: 40px;
}
.btn-invest {
    font-size: 14px;
    min-width: 90px;
    vertical-align: bottom;
    margin-right: 15px;
}
#investment-modal .modal-header {
    background: url('/assets/img/modal-bg.png');
    background-size: cover;
    display: block;
    position: relative;
}
#investment-modal .modal-header .close {
    position: absolute;
    top: 1rem;
    right: 1rem;
}
.modal-header-text {
    font-size: 28px;
    color: #ffffff;
    padding: 50px 0;
}
.modal-header-text h3 {
    font-size: 42px;
}
.modal-dialog {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.5);
}
.modal-backdrop {
    background-color: #ffffff;
}
#investment-modal label {
    font-size: 22px;
}
#investment-modal input[type=text] {
    font-size: 32px;
    padding-left: 27px;
}
#investment-modal .money-input {
    position: relative;
}
#investment-modal .money-input .dollar {
    left: 5px;
    font-size: 32px;
    position: absolute;
    top: 6px;
}
@media (max-width: 991.98px) {
    .welcome-text-vertical {
        font-size: 28px;
    }
}